<div *ngIf="item" class="content" [ngClass]="{'place': places}">
    <div class="image" [ngClass]="{'imagePlaces': imagesPlaces}">
        <img src="{{item.image}}" alt="">
    </div>
    <div class="text" [ngClass]="{'place-text': true}">
        <span>
            <b>
                {{item.name}}
            </b>
        </span>
        <span>
            <b>
                {{item.description}}
            </b>
        </span>
    </div>
</div>