<div class="">
        <div class="tittle">
            <h3>Explora cerca de ti</h3>
        </div>
        <div class="places">
            <div *ngFor="let item of listPlaces" class="place-list">
                <a>
                    <app-common-content-card [item]="item" [places]="places" [imagesPlaces]="imagesPlaces" class="content-places"></app-common-content-card>
                </a>
            </div>
        </div>
</div>