<div class="hosting">
    <div class="">
        <div class="tittle">
            <h3>Vive en cualquier lugar del mundo</h3>
        </div>
        <div class="content-hosting">
            <div *ngFor="let item of listHosting" class="hosting-list m-2">
                <a>
                    <app-common-content-card [item]="item" class="content-image"></app-common-content-card>
                </a>
            </div>
        </div>
    </div>
</div>