<div>
    <nav class="navbar">
        <div>Logo</div>
        <div>
            <button>Empieza la búsqueda</button>
        </div>
        <div>
            <button>Hazte anfitrión</button>
            <button>icono 1</button>
            <button>ingreso</button>
        </div>
    </nav>
</div>
