<div class="col-lg-12">
  <div class="nav-top">
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav justify-content-center">
        <div class="boton-logo">
          <button type="button" class="btn">airbnb</button>
        </div>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Lugares para hospedarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Expericencias en linea</a>
        </li>
        <div class="boton-hazteAnfitrion">
          <button type="button" class="btn ">Hazte Anfitrión</button>
        </div>
      </ul>
    </nav>
  </div>
  <div class="col-lg-10">

    <div class="row col-lg-9 busqueda-principal">
      <div class="col-sm-7 busqueda">
        <a href="" class="busqueda-uno">
          <b>Ubicación</b>
          <p>¿A dónde vas?</p>
        </a>
      </div>
      <div class="col-sm busqueda">
        <a href="" class="busqueda-dos">
          <b>Llegada</b>
          <p>Agregar fechas</p>
        </a>
      </div>
      <div class="col-sm busqueda">
        <a href="" class="busqueda-tres">
          <b>Salida</b>
          <p>Agregar fechas</p>
        </a>
      </div>
      <div class="col-sm busqueda">
        <a href="" class="busqueda-cuatro">
          <b>Huéspedes</b>
          <p>¿Cuántos?</p>
        </a>
      </div>
    </div>
    <div>
      <img src="../../..//assets/image/background.webp" alt="">
    </div>
  </div>