
.header
  padding-top: 3%
  background black 

.nav-link
  color: white
  font-size: 20px
  font-weight: bolder

.boton-logo
  color: white
  font-weight: bolder
  position relative
  right: 45em

.btn
  color: white
  font-size: 17px
  font-weight: bolder
  position relative
  left: 20em

.icono-idiomas
  color: white
  font-size: 20px

.busqueda-principal
  margin-left 20%
  padding-top: 2%

.busqueda
  padding: 0

.form-control
  height: 3.5em
  border-radius: 5px solid
