<div class="footer">
    <div class="list">
        <h5 class="list-title">A CERCA DE </h5>
        <ul class="list-footer">
            <li class="list-footer-item"><a>Cómo funciona Airbnb</a></li>
            <li class="list-footer-item"><a>Sala de prensa</a></li>
            <li class="list-footer-item"><a>Inversores</a></li>
            <li class="list-footer-item"><a>Airbnb Plus</a></li>
            <li class="list-footer-item"><a>Airbnb Luxe</a></li>
            <li class="list-footer-item"><a>HotelTonight</a></li>
            <li class="list-footer-item"><a>Airbnb para viajes de trabajo</a></li>
            <li class="list-footer-item"><a>Los anfitriones lo hacen posible</a></li>
            <li class="list-footer-item"><a>Juegos Olímpicos</a></li>
            <li class="list-footer-item"><a>Empleo</a></li>
            <li class="list-footer-item"><a>Carta de los fundadores</a></li>
        </ul>
    </div>
    <div class="list">
        <h5 class="list-title"> COMUNIDAD</h5>
        <ul class="list-footer">
            <li class="list-footer-item"><a>Diversidad y sentido de pertenencia</a></li>
            <li class="list-footer-item"><a>Contra la discriminación</a></li>
            <li class="list-footer-item"><a>Accesibilidad</a></li>
            <li class="list-footer-item"><a>Colaboradores de Airbnb</a></li>
            <li class="list-footer-item"><a>Alojamientos para personal de emergencia COVID-19</a></li>
            <li class="list-footer-item"><a>Invitaciones para huéspedes</a></li>
            <li class="list-footer-item"><a>Tarjetas de regalo</a></li>
            <li class="list-footer-item"><a>Airbnb.org</a></li>
        </ul>
    </div>
    <div class="list">
        <h5 class="list-title">ANFITRIÓN</h5>
        <ul class="list-footer">
            <li class="list-footer-item"><a>Hospeda en tu alojamiento</a></li>
            <li class="list-footer-item"><a>Ofrece una Experiencia en línea</a></li>
            <li class="list-footer-item"><a>Ofrece una Experiencia</a></li>
            <li class="list-footer-item"><a>Ser un anfitrión responsable</a></li>
            <li class="list-footer-item"><a>Centro de recursos</a></li>
            <li class="list-footer-item"><a>Centro de la comunidad</a></li>
        </ul>
    </div>
    <div class="list">
        <h5 class="list-title">ASISTENCIA</h5>
        <ul class="list-footer">
            <li class="list-footer-item"><a>Nuestra respuesta ante el COVID-19</a></li>
            <li class="list-footer-item"><a>Centro de Ayuda</a></li>
            <li class="list-footer-item"><a>Opciones de cancelación</a></li>
            <li class="list-footer-item"><a>Ayuda para vecinos</a></li>
            <li class="list-footer-item"><a>Confianza y seguridad</a></li>
        </ul>
    </div>
</div>