<div class="activity">
    <div class="">
        <div class="tittle">
            <h3>Explora el mundo</h3>
        </div>
        <div class="content-activities">
            <div *ngFor="let item of listActivities" class="activities-list m-2">
                <a>
                    <app-common-content-card [item]="item" class="content-image"></app-common-content-card>
                </a>
            </div>
        </div>
    </div>
</div>
